.app {
  height: 100vh;
  color: #000;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 5rem 0;
}

.search-panel {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: #fafcf5;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgb(0, 0, 0, 0.15);
}